/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

img {
    pointer-events: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}


[data-bs-theme="dark"] body{
   background: #1B1C22;
   color: #dee2e6;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

[data-bs-theme="dark"] .pagetitle h1 {
    color: #c3d8ff;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #DC3545;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

[data-bs-theme="dark"] .back-to-top {
    background: #4154f1;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f6f9ff;
}

[data-bs-theme="dark"] .dropdown-menu .dropdown-item:hover {
    background-color: #1d252c;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }

    [data-bs-theme="dark"] .dropdown-menu-arrow::before {
        background: #212529;
        border-top: 1px solid #212529;
        border-left: 1px solid #212529;
    }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}

.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}

.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}

.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}

.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;   
  background-color: #fff;  
  color: #798eb3;
  padding: 15px;
}

[data-bs-theme="dark"] .card-header, 
[data-bs-theme="dark"] .card-footer {
    border-color: #212529;
    background-color: #212529;
}                                                        

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

[data-bs-theme="dark"] .card-title {
    color: #91b8ff;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #012970;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #4154f1;
}

.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}

.breadcrumb a {
  color: #899bbd;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}

.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

[data-bs-theme="dark"] .nav-tabs-bordered .nav-link {
    color: #e5ecf9;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}

[data-bs-theme="dark"] .nav-tabs-bordered .nav-link:hover,
[data-bs-theme="dark"] .nav-tabs-bordered .nav-link:focus {
    color: #7c98cc;
}

.nav-tabs-bordered .nav-link.active {
    background-color: #fff;
    color: #4154f1;
    border-bottom: 2px solid #4154f1;
}

[data-bs-theme="dark"] .nav-tabs-bordered .nav-link.active {
    background-color: #f9f9f900;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #871616;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}

[data-bs-theme="dark"] .header {
    background-color: rgb(31 41 55);
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #ffffff;
}

.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}

.header .search-form input {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

[data-bs-theme="dark"] .header .search-form input {
    color: #ffffff;
}

.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.header .search-form button i {
  color: #012970;
}

[data-bs-theme="dark"] .header .search-form button i {
    color: #ffffff;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #ffffff;
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: #ffffff;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .messages {
  inset: 8px -15px auto auto !important;
}

.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages .message-item a {
  display: flex;
}

.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

[data-bs-theme="dark"] .header-nav .profile .dropdown-header h6 {
  color: #ffffff;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

[data-bs-theme="dark"] .header-nav .profile .dropdown-item:hover {
  background-color: #32414d;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #580a0a;
}

[data-bs-theme="dark"] .sidebar {
    background-color: rgb(17 24 39);
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #cf7878;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

[data-bs-theme="dark"] .sidebar-nav .nav-heading {
    color: #cbddff;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3;
  background: #b12020;
  padding: 10px 15px;
  border-radius: 4px;
}

[data-bs-theme="dark"] .sidebar-nav .nav-link {
    background: #4c6882;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #ffffff;
}

.sidebar-nav .nav-link.collapsed {
  color: #ffffff;
  background: #ac1f1f00;
}

.sidebar-nav .nav-link.collapsed i {
  color: #ffffff;
}

.sidebar-nav .nav-link:hover {
  color: #ffffff;
  background: #ac1f1f2e;
}

[data-bs-theme="dark"] .sidebar-nav .nav-link:hover {
    color: #ffffff;
    background: #1d252c;
}

.sidebar-nav .nav-link:hover i {
  color: #ffffff;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #f6f5f5;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #ffffff;
}

.sidebar-nav .nav-content a.active i {
  background-color: #ffffff;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter {
  position: absolute;
  right: 10px;
  top: 15px;
}

.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
}

.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

/* Info Cards */
.dashboard .info-card {
  padding-bottom: 10px;
}

.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

[data-bs-theme="dark"] .dashboard .info-card h6 {
    color: #ffffff;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}

.dashboard .customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}

/* Activity */
.dashboard .activity {
  font-size: 14px;
}

.dashboard .activity .activity-item .activite-label {
  color: #888;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 64px;
}

.dashboard .activity .activity-item .activite-label::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #eceefe;
}

.dashboard .activity .activity-item .activity-badge {
  margin-top: 3px;
  z-index: 1;
  font-size: 11px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;
  border: 3px solid #fff;
  flex-grow: 0;
}

.dashboard .activity .activity-item .activity-content {
  padding-left: 10px;
  padding-bottom: 20px;
}

.dashboard .activity .activity-item:first-child .activite-label::before {
  top: 5px;
}

.dashboard .activity .activity-item:last-child .activity-content {
  padding-bottom: 0;
}

/* News & Updates */
.dashboard .news .post-item+.post-item {
  margin-top: 15px;
}

.dashboard .news img {
  width: 80px;
  float: left;
  border-radius: 5px;
}

.dashboard .news h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dashboard .news h4 a {
  color: #012970;
  transition: 0.3s;
}

.dashboard .news h4 a:hover {
  color: #4154f1;
}

.dashboard .news p {
  font-size: 14px;
  color: #777777;
  margin-left: 95px;
}

/* Newsfeed */

@media (min-width: 769px) {
    .newsfeed-sidebar {
        right: 80px;
        margin-left: auto;
        position: fixed !important;
        transition: margin-left 0.3s ease;
    }
}

.newsfeed .newsfeed-body {
  position: relative;
  padding: 0 20px 0 20px;
}

.newsfeed .post-image {
  width: 100%;
  object-fit: cover;
}

.newsfeed .comment-section .author {
    display: flex;
    align-items: center;
}


.newsfeed .comment-section .author img {
    max-height: 46px;
}

.newsfeed .comment-section .author .info {
    text-align: left;

}

.newsfeed .comment-section .author h5 {
    font-weight: bold;
    font-size: 13px;
    color: #141619;
}

.newsfeed .comment-section .author p {
    font-size: 13px;
    color: #141619;
}

.newsfeed .comment-section .comment-message .comment-box {
    background-color: rgb(248,249,250) !important;
}

[data-bs-theme="dark"] .newsfeed .comment-section .comment-message .comment-box {
    background-color: rgb(43 48 52) !important
}

.newsfeed .comment-section .comment-message .comment-box a{
    text-decoration: none;
    color: #444444;
}

[data-bs-theme="dark"] .newsfeed .comment-section .comment-message .comment-box a{
    color: #b8cdeb;
}

.newsfeed .author {
  color: #012970;
  display: flex;
  align-items: center;
}

.newsfeed .author img {
  max-height: 46px;
}

.newsfeed .author .info {
  text-align: left;
}

.newsfeed .author h5 {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
}

.newsfeed .author p {
  margin-top: 0;
  font-size: 13px;
  color: gray;
}

.newsfeed .post-meta {
  margin-left: auto;
  font-size: 14px;
  color: #808080;
  margin-top: 25px;
}

.newsfeed  .image-container {
    width: 100%;
    height: 300px; /* Adjust the height as needed for your desired crop */
    overflow: hidden;
}

.newsfeed .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.newsfeed .newsfeed-body textarea {
    resize: none; 
    max-height: 150px;
    overflow-y: hidden; 
}

.newsfeed .newsfeed-body .post-btn {
    display: none; /* Hide the post button by default */
}

span.love-btn:hover {
    text-decoration: underline;
}

.newsfeed .newsfeed-body .author a {
    text-decoration: none;
    color: #012970;
}


[data-bs-theme="dark"] .newsfeed .newsfeed-body .author a {
    color: #9cbefb;
}

/* Comments */

.reply-btn:hover {
    text-decoration: underline;
}

.user-comments {
    list-style: none;
    padding: 10px 0px;
}

.user-comments .comment-item {
    transition: 0.3s;
    padding-bottom: 10px;
}

.user-comments .reply-item {
    transition: 0.3s;
    padding-bottom: 10px;
}

.user-comments .comment-item .comment-content {
    display: flex;
}

.user-comments .reply-item .reply-content {
    display: flex;
    margin-left: 3.5rem!important;
}

@media (max-width: 767px) {
    .user-comments .reply-item .reply-content {
        margin-left: 1rem!important;
    }
}

.user-comments .reply-item .reply-content .profile-sm {
    width: 30px;
    height: 30px;
}


.user-comments .comment-item .comment-message .btn-menu{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.5em 0.5em;
    border: 0;
    border-radius: .375rem;
    opacity: .5;
}

.user-comments .comment-item img {
    margin: 0 20px 0 10px;
    max-height: 40px;
}

.user-comments .comment-item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #444444;
}

.user-comments .comment-item p {
    font-size: 13px;
    margin-bottom: 3px;
    color: #919191;
}



/* Task */
.task-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: #4a05050a;
    padding: 10px;
}

.task-container .view-btn {
  margin-right: 10px;
  background-color: var(--bs-btn-hover-bg);
}

.task-container .title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.task-container .description {
  font-size: 14px;
  margin: 5px 0 0 0;
}

/* Topic: Contributors */
.contributors-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: #4a05050a;
}

.contributors-container .view-btn {
    margin-right: 10px;
    background-color: var(--bs-btn-hover-bg);
}

.contributors-container .title {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}

.contributors-container .description {
    font-size: 12px;
}

/* Force Button */

.btn-danger-force {
  margin-right: 10px;
  background-color: var(--bs-btn-hover-bg);
}





/* Recent Sales */
.dashboard .recent-sales {
  font-size: 14px;
}

.dashboard .recent-sales .table thead {
  background: #f6f6fe;
}

.dashboard .recent-sales .table thead th {
  border: 0;
}

.dashboard .recent-sales .dataTable-top {
  padding: 0 0 10px 0;
}

.dashboard .recent-sales .dataTable-bottom {
  padding: 10px 0 0 0;
}

/* Top Selling */
.dashboard .top-selling {
  font-size: 14px;
}

.dashboard .top-selling .table thead {
  background: #f6f6fe;
}

.dashboard .top-selling .table thead th {
  border: 0;
}

.dashboard .top-selling .table tbody td {
  vertical-align: middle;
}

.dashboard .top-selling img {
  border-radius: 5px;
  max-width: 60px;
}

/*--------------------------------------------------------------
# Icons list page
--------------------------------------------------------------*/
.iconslist {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.25rem;
  padding-top: 15px;
}

.iconslist .icon {
  background-color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  color: #012970;
  padding: 15px 0;
}

.iconslist i {
  margin: 0.25rem;
  font-size: 2.5rem;
}

.iconslist .label {
  font-family: var(--bs-font-monospace);
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}

/*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile .profile-card img {
    max-width: 120px;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.profile .profile-card h2 {
  font-size: 20px;
  font-weight: 700;
  color: #2c384e;
  margin: 15px 0 0 0;
}

[data-bs-theme="dark"] .profile .profile-card h2 {
    color: #ffffff;
}

.profile .profile-card h3 {
  font-size: 15px;
}

.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

[data-bs-theme="dark"] .profile .profile-card .social-links a {
  color: #ffffff;
}

.profile .profile-card .social-links a:hover {
  color: #012970;
}

[data-bs-theme="dark"] .profile .profile-card .social-links a:hover {
    color: #4154f1;
}

.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}

.profile .profile-overview .card-title {
  color: #012970;
}

[data-bs-theme="dark"] .profile .profile-overview .card-title {
    color: #99b9f0;
}

.profile .profile-overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

[data-bs-theme="dark"] .profile .profile-overview .label {
    color: rgb(203 236 255);
}

.profile .profile-edit label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img {
  max-width: 120px;
}

/*--------------------------------------------------------------
# F.A.Q Page
--------------------------------------------------------------*/
.faq .basic h6 {
  font-size: 18px;
  font-weight: 600;
  color: #4154f1;
}

.faq .basic p {
  color: #6980aa;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  padding: 28px 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: #4154f1;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #4154f1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #4154f1;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #5969f3;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Members (Customized)
--------------------------------------------------------------*/
.members-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0px;
}

.member {
    text-align: center;
    margin-bottom: 2px;
}

.member img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.member h3,
.member p {
    margin: 10px 0;
}

/*--------------------------------------------------------------
# Badge View (Customized)
--------------------------------------------------------------*/
.badge-view .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.badge-view .badge {
    text-align: center;
    position: relative;
}

.badge-view .badge img {
    max-width: 100px;
    max-height: 100px;
}

/* CSS code to apply grayscale effect to the not-received badge image */
.not-received img {
    filter: grayscale(100%);
}

/* CSS code to restore original image on hover for not-received badge */
.not-received img:hover {
    filter: grayscale(0%);
}


.badge-view .badge-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff; /* Adjust text color as needed */
    padding: 5px 10px; /* Adjust padding as needed */
    font-size: 12px; /* Adjust font size as needed */
}

/* CSS code for centering the badge image within the modal and adding a border */
#badge-image-preview {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 300px; /* Adjust the maximum height as needed */
    border: 2px solid #000; /* Add the desired border properties */
}


/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 0;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #3e4f6f;
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}

@media (max-width: 767px) {
    .error-404 {
        padding: 0px;
        position: relative;
        transform: translateY(-10%);
    }

    .error-404 h1 {
        font-size: 120px; /* Adjust the font size for mobile devices */
    }

    .error-404 h2 {
        font-size: 20px; /* Adjust the font size for mobile devices */
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}

.footer .copyright {
  text-align: center;
  color: #012970;
}

[data-bs-theme="dark"] .footer .copyright {
    color: #ffffff;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/

.text-portal {
    color: #212529;
}

[data-bs-theme="dark"] .text-portal {
    color: #ffffff;
}

.btn-newsfeed {
    --bs-btn-color: #000;
    --bs-btn-bg: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: #c6c7c8;
    --bs-btn-focus-shadow-rgb: 211,212,213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}

[data-bs-theme="dark"] .btn-newsfeed {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #414850;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #f8f9fa;
    --bs-btn-focus-shadow-rgb: 248,249,250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
    --bs-btn-bg: transparent;
}

.btn-portal {
    --bs-btn-color: #fff;
    --bs-btn-bg: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
}

[data-bs-theme="dark"] .btn-portal {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

/* Newsfeed Chat */

.btn-chat:hover div {
  background-color: #bae7f8 !important;
  color: #037cdf !important
}

.btn-chat:hover small {
  color: #037cdf !important
}

[data-bs-theme="dark"] .btn-chat:hover div {
  background-color: #3a5564 !important;
  color: #677bf0 !important;
}

[data-bs-theme="dark"] .btn-chat:hover small {
  color: #677bf0 !important;
}

/* Newsfeed Stat */

.btn-stat:hover div {
  background-color: #b7b0fa !important;
  color: #7367f0 !important
}

.btn-stat:hover small {
  color: #7367f0 !important
}

[data-bs-theme="dark"] .btn-stat:hover div {
  background-color: #3a3b64 !important;
  color: #7367f0 !important;
}

[data-bs-theme="dark"] .btn-stat:hover small {
  color: #7367f0 !important;
}

/* Newsfeed Repost */

.btn-repost:hover div {
  background-color: #c1ffbb !important;
  color: #14662d !important
}

.btn-repost:hover small {
  color: #14662d !important
}

[data-bs-theme="dark"] .btn-repost:hover div {
  background-color: #3a6448 !important;
  color: #67f090 !important;
}

[data-bs-theme="dark"] .btn-repost:hover small {
  color: #67f090 !important;
}

/* Newsfeed Heart */

.btn-heart:hover div {
  background-color: #fabee0 !important;
  color: #e43368 !important
}

.btn-heart:hover small {
  color: #e43368 !important
}

.btn-heart.active div {
  background-color: rgba(0, 0, 0, 0);
  color: #e43368 !important
}

.btn-heart.active small {
  color: #e43368 !important
}

[data-bs-theme="dark"] .btn-heart:hover div {
  background-color: #643a59 !important;
  color: #f06790 !important;
}

[data-bs-theme="dark"] .btn-heart.active div {
  background-color: rgba(0, 0, 0, 0);
  color: #f06790 !important;
}

[data-bs-theme="dark"] .btn-heart.active small {
  color: #f06790 !important;
}

.prewrap {
    white-space: pre-wrap;
}

.profile-xs {
  width: 32px;
  height: 32px;
  object-fit: cover;
}


.profile-sm {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.user-suggestions .dropdown-menu .dropdown-item {
    padding: 2px 5px;
}

.user-suggestions .dropdown-menu .dropdown-item:hover {
    background-color: #9e050524;
}

[data-bs-theme="dark"] .user-suggestions .dropdown-menu .dropdown-item:hover {
    background-color: #475058;
}

.user-suggestions .dropdown-menu .dropdown-item img {
    width: 25px;
    height: 25px;
}

.user-suggestions .dropdown-menu .dropdown-item h5 {
    font-size: 1rem;
}

.mention-highlight {
    background-color: #ffff00;
    font-weight: bold;
}

/* COURSES BORDER */
.bsit-frame {
    border: 0.1rem solid blue;
    box-sizing: border-box;
}


#toastContainer {
    position: fixed;
    /*bottom: 20px;*/
    right: 20px;
    max-width: 90%; /* Adjust the width as needed */
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    margin-bottom: 10px; /* Add some margin between toast alerts */
}

@media (max-width: 576px) {
    #toastContainer {
        right: 10px;
    }
}


/* USER PROFILE */

.user-profile-header-banner img {
  width: 100%;
  object-fit: cover;
  height: 250px
}

.user-profile-header {
  margin-top: -2rem
}

.user-profile-header .user-profile-img {
  border: 5px solid;
  width: 120px
}

.light-style .user-profile-header .user-profile-img {
  border-color: #fff
}

.dark-style .user-profile-header .user-profile-img {
  border-color: #2f3349
}

.dataTables_wrapper .card-header .dataTables_filter label {
  margin-top: 0 !important;
  margin-bottom: 0 !important
}

@media(max-width: 767.98px) {
  .user-profile-header-banner img {
      height:150px
  }

  .user-profile-header .user-profile-img {
      width: 100px
  }
}

.form-label {
  font-size: 0.8125rem;
}

.form-control {
  font-size: 0.9375rem;
}

.form-select {
  font-size: 0.9375rem;
}

.nav-link {
  color: #6c5959;
}


[data-bs-theme="dark"] .nav-link {
  color: #cfd3ec;
}

.fc-col-header-cell-cushion {
  color: #6c5959;
}


[data-bs-theme="dark"] .fc-col-header-cell-cushion {
  color: #cfd3ec;
}

.fc-daygrid-day-number {
  color: #6c5959;
}


[data-bs-theme="dark"] .fc-daygrid-day-number {
  color: #cfd3ec;
}

.fc-day-today {
  background-color: rgb(255 40 40 / 15%) !important;
}


[data-bs-theme="dark"] .fc-day-today {
  background-color: rgb(40 144 255 / 15%) !important;
}

.fc-event-title {
  color: #6c5959;
}

[data-bs-theme="dark"] .fc-event-title {
  color: #cfd3ec;
}

.fc-theme-standard td, .fc-theme-standard th {
  border: 1px solid #626778;
}

.fc-button {
  background-color: #871616b8 !important;
  border-color: #ffffff !important;
  color: #fff3f3 !important;
}


[data-bs-theme="dark"] .fc-button {
  background-color: rgb(103 169 240 / 24%) !important;
  border-color: #212529 !important;
  color: #c1e2f5 !important;
}

.fc-button-active  {
  background-color: #871616dc !important;
  border-color: #ffffff !important;
  color: #fff3f3 !important;
}


[data-bs-theme="dark"] .fc-button-active {
  background-color: rgb(103 169 240 / 44%) !important;
  border-color: #212529 !important;
  color: #c1e2f5 !important;
}

.fc-prev-button  {
  background-color: rgba(0,0,0,0) !important;
  color: #3f0606 !important;
}


[data-bs-theme="dark"] .fc-prev-button {
  background-color: rgba(0,0,0,0) !important;
  color: #c1e2f5 !important;
}

.fc-next-button  {
  background-color: rgba(0,0,0,0) !important;
  color: #3f0606 !important;
}


[data-bs-theme="dark"] .fc-next-button {
  background-color: rgba(0,0,0,0) !important;
  color: #c1e2f5 !important;
}

.fc-toolbar-title  {
  margin-left: 0 !important;
  font-size: 1.425rem !important;
}

.fc-theme-standard .fc-scrollgrid {
  border: 1px solid #626778;
}


.timeline {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  list-style: none
}

.timeline .timeline-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row
}

.timeline .timeline-header>*:first-child {
  margin-right: .5rem
}

.timeline .timeline-end-indicator {
  position: absolute;
  bottom: -1.35rem;
  left: -0.65rem
}

.timeline .timeline-end-indicator i {
  font-size: 1.5rem;
  color: #434968
}

.timeline .timeline-item {
  position: relative;
  padding-left: 3rem
}

.timeline .timeline-item .timeline-event {
  position: relative;
  top: -1rem;
  width: 100%;
  top: -1rem;
  min-height: 4rem;
  background-color: #2f3349;
  border-radius: .375rem;
  padding: 1.1rem 1.5rem .6rem
}

.timeline .timeline-item .timeline-event:before {
  position: absolute;
  top: .75rem;
  left: 32px;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 1rem solid rgba(0,0,0,0);
  border-right: 1rem solid;
  border-left: 0 solid;
  border-bottom: 1rem solid rgba(0,0,0,0);
  border-left-color: #2f3349;
  border-right-color: #2f3349;
  margin-left: -3rem;
  content: ""
}

.timeline .timeline-item .timeline-event.timeline-event-shadow {
  box-shadow: 0 .5rem 1rem rgba(255,255,255,.075) !important
}

.timeline .timeline-item .timeline-event .timeline-event-time {
  position: absolute;
  top: 1.1rem;
  font-size: .85rem;
  color: #b6bee3
}

.timeline .timeline-item .timeline-indicator,.timeline .timeline-item .timeline-indicator-advanced {
  position: absolute;
  left: -0.75rem;
  top: -0.2rem;
  z-index: 2;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%
}

.timeline .timeline-item .timeline-indicator i,.timeline .timeline-item .timeline-indicator-advanced i {
  background-color: #25293c
}

.card .timeline .timeline-item .timeline-indicator i,.card .timeline .timeline-item .timeline-indicator-advanced i {
  background-color: #2f3349
}

.timeline .timeline-item .timeline-indicator i,.timeline .timeline-item .timeline-indicator-advanced i {
  color: #7367f0
}

.timeline .timeline-item .timeline-indicator-advanced {
  background-color: #2f3349;
  top: -0.1rem
}

.timeline .timeline-item .timeline-point {
  position: absolute;
  left: -0.43rem;
  top: 0;
  z-index: 2;
  display: block;
  height: .75rem;
  width: .75rem;
  border-radius: 50%;
  background-color: #7367f0
}

.timeline .timeline-item.timeline-item-transparent .timeline-event {
  top: -1.4rem;
  background-color: rgba(0,0,0,0)
}

html:not([dir=rtl]) .timeline .timeline-item.timeline-item-transparent .timeline-event {
  padding-left: 0
}

.timeline .timeline-item.timeline-item-transparent .timeline-event.timeline-event-shadow {
  padding-left: 2rem
}

.timeline .timeline-item.timeline-item-transparent .timeline-event:before {
  display: none
}

.timeline.timeline-center:before {
  left: 50%;
  height: 97%
}

.timeline.timeline-center:after {
  left: 50%;
  margin-left: -0.55rem
}

.timeline.timeline-center .timeline-end-indicator {
  bottom: -1.4rem;
  left: 50%;
  margin-left: .55rem
}

.timeline.timeline-center .timeline-item {
  width: 50%;
  clear: both
}

.timeline.timeline-center .timeline-item.timeline-item-left,.timeline.timeline-center .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right) {
  float: left;
  padding-left: 0;
  padding-right: 3rem;
  left: 0px;
  padding-bottom: 3rem;
  border-left: 0;
  border-right: 1px solid #434968
}

.timeline.timeline-center .timeline-item.timeline-item-left .timeline-event .timeline-event-time,.timeline.timeline-center .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right) .timeline-event .timeline-event-time {
  right: -10.2rem
}

.timeline.timeline-center .timeline-item.timeline-item-left .timeline-event:before,.timeline.timeline-center .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right) .timeline-event:before {
  right: -15px;
  left: auto;
  border-left-width: 16px;
  border-right-width: 0
}

.timeline.timeline-center .timeline-item.timeline-item-left .timeline-point,.timeline.timeline-center .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right) .timeline-point {
  left: 100%
}

.timeline.timeline-center .timeline-item.timeline-item-right,.timeline.timeline-center .timeline-item:nth-of-type(even):not(.timeline-item-left):not(.timeline-item-right) {
  float: right;
  right: 1px;
  padding-left: 3rem;
  padding-bottom: 3rem;
  border-left: 1px solid #434968
}

.timeline.timeline-center .timeline-item.timeline-item-right .timeline-event .timeline-event-time,.timeline.timeline-center .timeline-item:nth-of-type(even):not(.timeline-item-left):not(.timeline-item-right) .timeline-event .timeline-event-time {
  left: -10.2rem
}

.timeline.timeline-center .timeline-item.timeline-item-right .timeline-event .timeline-point,.timeline.timeline-center .timeline-item:nth-of-type(even):not(.timeline-item-left):not(.timeline-item-right) .timeline-event .timeline-point {
  left: 0
}

.timeline.timeline-center .timeline-item .timeline-point {
  left: 50%;
  margin-left: -0.6875rem
}

.timeline.timeline-center .timeline-item .timeline-point-indicator {
  left: 50%;
  margin-left: -0.3125rem
}

.timeline.timeline-advance .timeline-item .timeline-event:before,.timeline.timeline-advance .timeline-item .timeline-event:after {
  border: rgba(0,0,0,0)
}

html:not([dir=rtl]) .timeline-item {
  border-left: 1px solid #434968
}

[dir=rtl] .timeline:not(.timeline-center) .timeline-item {
  border-right: 1px solid #434968
}

[dir=rtl] .timeline:not(.timeline-center):before {
  right: -1px;
  left: auto
}

[dir=rtl] .timeline:not(.timeline-center):after {
  left: auto;
  margin-right: -0.65rem
}

[dir=rtl] .timeline:not(.timeline-center) .timeline-end-indicator {
  left: auto;
  right: -0.75rem
}

[dir=rtl] .timeline:not(.timeline-center) .timeline-item {
  padding-left: 0;
  padding-right: 3rem;
  border-right: 1px solid #434968
}

[dir=rtl] .timeline:not(.timeline-center) .timeline-item .timeline-event:before {
  right: -1rem;
  left: auto;
  border-left-width: 1rem;
  border-right-width: 0
}

[dir=rtl] .timeline:not(.timeline-center) .timeline-item.timeline-item-transparent .timeline-event {
  padding-right: 0
}

[dir=rtl] .timeline:not(.timeline-center) .timeline-item .timeline-point {
  right: -0.4rem;
  left: auto
}

[dir=rtl] .timeline:not(.timeline-center) .timeline-item .timeline-indicator {
  right: -0.78rem;
  left: auto
}

[dir=rtl] .timeline:not(.timeline-center) .timeline-item .timeline-indicator-advanced {
  right: -0.78rem;
  left: auto
}

@media(min-width: 768px) {
  .timeline.timeline-center .timeline-item.timeline-item-left .timeline-indicator,.timeline.timeline-center .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right) .timeline-indicator {
      left:calc(100% - 1.5rem/2)
  }

  .timeline.timeline-center .timeline-item.timeline-item-left .timeline-event:after,.timeline.timeline-center .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right) .timeline-event:after {
      transform: rotate(180deg);
      right: -16px;
      left: auto
  }
}

@media(max-width: 767.98px) {
  .timeline.timeline-center:before {
      left:1rem
  }

  .timeline.timeline-center:after {
      left: 0
  }

  .timeline.timeline-center .timeline-end-indicator {
      left: -2px
  }

  .timeline.timeline-center .timeline-item {
      border-right: 0 !important;
      left: 0rem;
      float: left !important;
      width: 100%;
      padding-left: 3rem !important;
      padding-right: 0 !important;
      border-right: 0 !important
  }

  .timeline.timeline-center .timeline-item:not(:last-child) {
      border-left: 1px solid #434968 !important
  }

  .timeline.timeline-center .timeline-item:not(:last-child) {
      border-left: 1px solid #434968 !important
  }

  .timeline.timeline-center .timeline-item .timeline-event:before {
      right: 100% !important;
      border-right-width: 1rem !important;
      border-left-width: 0 !important
  }

  .timeline.timeline-center .timeline-item .timeline-event .timeline-event-time {
      top: -1.4rem;
      left: 0 !important;
      right: auto !important
  }

  .timeline.timeline-center .timeline-item .timeline-point {
      left: -0.7rem !important;
      margin-left: 0 !important
  }

  .timeline.timeline-center .timeline-item .timeline-point-indicator {
      left: 0 !important;
      margin-left: -0.3125rem !important
  }

  [dir=rtl] .timeline.timeline-center:before {
      left: auto;
      right: 1rem
  }

  [dir=rtl] .timeline.timeline-center .timeline-item {
      border-left: 0 !important;
      right: 1px !important
  }

  [dir=rtl] .timeline.timeline-center .timeline-item:not(:last-child) {
      border-right: 1px solid #434968 !important
  }

  [dir=rtl] .timeline.timeline-center:after {
      right: -0.55rem;
      left: auto
  }

  [dir=rtl] .timeline.timeline-center .timeline-item {
      float: right !important;
      width: 100%;
      padding-right: 3.5rem !important;
      padding-left: 1.5rem !important
  }

  [dir=rtl] .timeline.timeline-center .timeline-item .timeline-event:before {
      left: 100% !important;
      right: -1rem !important;
      border-left-width: 1rem !important;
      border-right-width: 0 !important
  }

  [dir=rtl] .timeline.timeline-center .timeline-item .timeline-event:after {
      transform: rotate(0deg);
      right: -16.5px;
      left: auto
  }

  [dir=rtl] .timeline.timeline-center .timeline-item .timeline-event .timeline-event-time {
      top: -1.2rem;
      right: 0 !important;
      left: auto !important
  }

  [dir=rtl] .timeline.timeline-center .timeline-item .timeline-point {
      right: -0.7rem !important;
      margin-right: 0 !important
  }
}

@media(max-width: 767.98px) {
  [dir=rtl] .timeline .timeline-item .timeline-indicator,[dir=rtl] .timeline .timeline-item .timeline-indicator-advanced {
      left:auto;
      right: -0.6875rem
  }

  [dir=rtl] .timeline-center .timeline-item {
      padding-left: 0;
      padding-right: 3rem
  }

  [dir=rtl] .timeline-center .timeline-item .timeline-event:after {
      right: -16.5px;
      left: auto;
      border-left-width: 1rem;
      border-right-width: 0;
      border-left-color: #434968;
      border-right-color: rgba(255,255,255,.4)
  }
}

@media(max-width: 575.98px) {
  .timeline .timeline-header {
      flex-direction:column;
      align-items: flex-start
  }
}

.timeline .timeline-item-secondary .timeline-event {
  background-color: rgba(168,170,174,.1)
}

.timeline .timeline-item-secondary .timeline-event:before {
  border-left-color: rgba(168,170,174,.1) !important;
  border-right-color: rgba(168,170,174,.1) !important
}

.timeline .timeline-point-secondary {
  background-color: #a8aaae !important;
  box-shadow: 0 0 0 .1875rem rgba(168,170,174,.16)
}

.timeline .timeline-indicator-secondary i {
  color: #a8aaae !important
}

.timeline .timeline-item-success .timeline-event {
  background-color: rgba(40,199,111,.1)
}

.timeline .timeline-item-success .timeline-event:before {
  border-left-color: rgba(40,199,111,.1) !important;
  border-right-color: rgba(40,199,111,.1) !important
}

.timeline .timeline-point-success {
  background-color: #28c76f !important;
  box-shadow: 0 0 0 .1875rem rgba(40,199,111,.16)
}

.timeline .timeline-indicator-success i {
  color: #28c76f !important
}

.timeline .timeline-item-info .timeline-event {
  background-color: rgba(0,207,232,.1)
}

.timeline .timeline-item-info .timeline-event:before {
  border-left-color: rgba(0,207,232,.1) !important;
  border-right-color: rgba(0,207,232,.1) !important
}

.timeline .timeline-point-info {
  background-color: #00cfe8 !important;
  box-shadow: 0 0 0 .1875rem rgba(0,207,232,.16)
}

.timeline .timeline-indicator-info i {
  color: #00cfe8 !important
}

.timeline .timeline-item-warning .timeline-event {
  background-color: rgba(255,159,67,.1)
}

.timeline .timeline-item-warning .timeline-event:before {
  border-left-color: rgba(255,159,67,.1) !important;
  border-right-color: rgba(255,159,67,.1) !important
}

.timeline .timeline-point-warning {
  background-color: #ff9f43 !important;
  box-shadow: 0 0 0 .1875rem rgba(255,159,67,.16)
}

.timeline .timeline-indicator-warning i {
  color: #ff9f43 !important
}

.timeline .timeline-item-danger .timeline-event {
  background-color: rgba(234,84,85,.1)
}

.timeline .timeline-item-danger .timeline-event:before {
  border-left-color: rgba(234,84,85,.1) !important;
  border-right-color: rgba(234,84,85,.1) !important
}

.timeline .timeline-point-danger {
  background-color: #ea5455 !important;
  box-shadow: 0 0 0 .1875rem rgba(234,84,85,.16)
}

.timeline .timeline-indicator-danger i {
  color: #ea5455 !important
}

.timeline .timeline-item-dark .timeline-event {
  background-color: rgba(68,71,91,.1)
}

.timeline .timeline-item-dark .timeline-event:before {
  border-left-color: rgba(68,71,91,.1) !important;
  border-right-color: rgba(68,71,91,.1) !important
}

.timeline .timeline-point-dark {
  background-color: #44475b !important;
  box-shadow: 0 0 0 .1875rem rgba(68,71,91,.16)
}

.timeline .timeline-indicator-dark i {
  color: #44475b !important
}

.timeline .timeline-item-gray .timeline-event {
  background-color: rgba(255,255,255,.1)
}

.timeline .timeline-item-gray .timeline-event:before {
  border-left-color: rgba(255,255,255,.1) !important;
  border-right-color: rgba(255,255,255,.1) !important
}

.timeline .timeline-point-gray {
  background-color: rgba(255,255,255,.8) !important;
  box-shadow: 0 0 0 .1875rem rgba(255,255,255,.16)
}

.timeline .timeline-indicator-gray i {
  color: rgba(255,255,255,.8) !important
}

html:not([dir=rtl]) .border-left-dashed {
  border-left-style: dashed !important
}

html:not([dir=rtl]) .border-primary,html[dir=rtl] .border-primary {
  border-color: #7367f0 !important
}

.border-transparent {
  border-color: rgba(0,0,0,0) !important
}